<% provide(:title, 'About') %>
<div class="bluebox info-page">
    <div class="tanbox">
     <div class="info-header">
      <h1>About</h1>
      <hr class="end-post-section">
     </div>
     <div class="info-body">
      <pre>

			            _.---._
			        .-'         '-.
			     .'                 '.
			    '       '.   .'       '
			   / /        \ /        \ \
			  '  |         :         |  '
			 /   |         .         |   \
			 |   \         |         /   |
			 '. . \        |        / . .'
			  |   .\      .'.      /.   |
			  \  .  `-           -'  .  /
			   '.      .. ... ..      .'
			    |  `` ` .     . ` ``  |
			    | .-_-.  '. .'  .-_-. |
			   .'( (O) )|  :  |( (O) )'.
			    \.'---'/   :   \'---'./
			      \_ .'  . ' .  '. _/
			     .' /             \ '.
			     './ / /  / \ \  \ \.'
			      : | | /|  : |  | :
			      | : | \\  | '  : |
			      | /\ \/ \ | : /\ :
			      ' :/\ \ : ' ||  \ \
			      / | /\ \| : ' \  \ \
			     / / /  \/ /| :  |  \ \
			    / / :   / /\ \ \ /   \ \
			   ' /\ \  | /\ :.\ \    / |
			   \ \ \ \ \/ / || \ \   \/
			    \/  \|    \/ \/ |/ 
   		 ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn
	</pre>
     </div>
    </div>
</div>
