<div id="admin-page" class="bluebox">

HERE IS WHERE YOU ADMINISTRATE THINGS!!!!!!!
<%= link_to "Sign out", logout_path, method: "delete" %>
<%= link_to "Post index", admin_index_path %>
  
<%= link_to "Settings", edit_user_path(current_user) %>

</div>
