 <div class="row body">
  <div id="posts" class="span8 bluebox">
   <%= render 'layouts/post' %>
  </div>
  <!--end posts-->
 
  <div id="sidebar" class="span4">
  	<%= render 'layouts/sidebar' %>
  <!--end sidebar-->   
  </div>
 </div>

