 <div id="body" class="row">
  <div id="posts" class="span8 offset1 postbox">
   <%= render 'layouts/post' %>
  </div>
  <!--end posts-->
 
  <div id="sidebar" class="span3 container box" style="width:160px;">
  <!--  -->
   
  </div>
 </div>

