<div class="bluebox">
  <div class="tanbox">
    <div class="info-header">
      <h1>StaticPages#jetprogram</h1>
    </div>
    <div class="info-body">
      <p>Find me in app/views/static_pages/jetprogram.html.erb</p>
    </div>
  </div>
</div>
