<div class="bluebox info-page">
  <div class="tanbox">
    <div class="info-body" style="text-align: center;">
      <h3>You've been successfuly subscribed as <%= @subscription.email %>.</h3>
      <p>You will be redirected to the index shortly. If you are not redirected, click <%= link_to 'here', root_path %>.</p>
    </div>
  </div>
</div>
<script>
$(function(){
	setTimeout(function(){
		location.href = "/"
	}, 7000);
});
</script>