<% provide(:title, 'Gallery') %>
<div class="bluebox info-page">
     <div class="info-body">
     	<table border="0">
	     	<% Picture.all.each_slice(5) do |row| %>
	     	<tr>
	     	  <% row.each do |picture| %>
			    <td><%= link_to image_tag(picture.image.url(:thumb), alt: picture.name), picture.image.url %></td>
	     	  <% end %>
			</tr>
	     	<% end %>
		</table>
    </div>
</div>