<% provide(:title, 'Gallery') %>
<% provide(:page_specific_javascript, 'fancybox2') %>

<style type="text/css">
.fancybox-skin {
 background-color: #87adb5;
 border-color: #87adb5; /* or whatever */
}
</style>
<div class="bluebox info-page">
     <div class="tanbox info-body">
     	<table border="0" id="gallery">
	     	<% Picture.all.each_slice(5) do |row| %>
	     	<tr>
	     	  <% row.each do |picture| %>
			    <td><%= link_to image_tag(picture.image.url(:thumb), alt: picture.name), picture.image.url(:large), :class => "fancybox" %></td>
	     	  <% end %>
			</tr>
	     	<% end %>
		</table>
    </div>
</div>

<script>
$(document).ready(function(){
  $("a.fancybox").fancybox({
  	helpers:  {
    overlay: {
        locked: false
    }
}
  });
});
</script>
