<h1>StaticPages#gallery</h1>
<p>Find me in app/views/static_pages/gallery.html.erb</p>
<%= image_tag @picture.image.url(:large) %>
<%= image_tag @picture.image.url(:medium) %>
<%= image_tag @picture.image.url(:thumb) %>
