<div class="post tanbox">
    <div class="post-head">
        <div class="bluebox post-image">
            <%= image_tag("shimane_flag.gif", :size => "100%;") %>
        </div>
        <p> A new post, <%= link_to "\"#{@post.title}\"", public_post_url(@post, host: @request.host, port: @request.port) %> has just been posted!. </p>
        <p> You are receiving this email because you are subscribed to BLOG_NAME. If you would no longer like to receive these emails and wish to unsubscribe, click <%= link_to 'here', unsubscribe_url(@subscription.confirm_token, host: @request.host, port: @request.port)  %><p/>
    </div>
</div>