<div class="main bluebox">
   <div class="tanbox">
    <div class="head">
        <div class="bluebox post-tab">
            <%= image_tag(attachments['shimane_flag.gif'].url, :size => "100%;") %>
        </div>
        <h1>Thank you for subscribing!</h1>
    </div>
    <hr/>
    <div class="main">
		<p>To complete your subscription, please click <%= link_to 'here', subscribe_activate_url(@subscription.confirm_token, host: @host, port: @port)  %><p/>

		<p>If you subscribed unintentionally and would like to remove your email from our database,<br/> click <%= link_to 'here', unsubscribe_url(@subscription.confirm_token, host: @host, port: @port)  %><p/>
    </div>
   </div>
</div>
