<% provide(:title, 'New Post') %>
<% provide(:page_specific_javascript, 'posts') %>
<h1>Sign up</h1>


<div id="wmd-button-bar-test"></div>
<div id="wmd-preview-test" class="wmd-preview"></div>
<textarea class = "wmd-input" id = "wmd-input-test" rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
</textarea>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>


      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


