 <div class="row content">
  <div class="span8 bluebox" id ="post-wrapper">
  	<div id="posts" class="abstract ">
      <%= render @post %>
    </div>
  </div>
  <!--end posts-->
 
  <%= render 'layouts/sidebar' %>
 </div>
