<% provide(:title, @post.title) %>
  <div class="span8 bluebox" id ="post-wrapper">
  	<div class="abstract ">
      <%= render @post %>
      <%= render 'disqus' %>
    </div>
  </div>
  <!--end posts-->
 
  <%= render 'layouts/sidebar' %>
