#admin-page
{
  margin-top:20px;
  padding: 2%;
}

#admin-index /* div */
{
  margin-top:20px;
  padding:2%;
}

.admin-button
{
  color:#000;
  background-color:#AAA;
  border-color:#999;
  border-radius:5px;
  padding:3px;
  text-decoration:none;
}

.admin-button:hover
{
  background-color:#999;
  text-decoration:none;
}

#admin-nav
{
  display:inline;
  float:right;
  margin:3px 3px;
  height:90%;
  padding-top:7px;
  padding-right:7px;
}

#admin-nav > a.admin-button
{
 font-size:20px; 
}

.post-list
{
  list-style-type:none;
}

.post-list > li
{
  padding: 4px;
  margin: 5px 0px;
}
