@import "bootstrap";
@import "bootstrap-responsive";
@import "pagedown_bootstrap"; /*this has to come second for our marked.editor to look pretty*/

/* universal */

html {
  overflow-y: scroll;
  min-height: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body
{
  margin:auto;
  padding:2%;
  background-color:#ffd;
  background-image:image-url("Background_1.gif");
  background-attachment:fixed;
  background-size:100% 100%;
  background-position: left bottom;
}

#display
{ 
  padding: 0px;
  margin: 0 auto;
}

.bluebox {
  background-color:#87adb5;
  border-radius: 0px;
}

.tanbox {
  background-color:#ffd;
  border-radius: 4px;
}

.abstract {
  padding: 0px;
  margin: 0px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  min-width: 1124px;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

div.footer {
  padding:2%;
  color:white;
}

/* header */

header
{
  height:48px; /*matches the height of the div it contains; added for layout reasons, but might break if we edit the header */
}

#header
{
  align:right;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  min-height: 40px;
  min-width: 1124px;
}


.navbar .nav > li > a
{
  font-size:20px;
  color:white;
  text-shadow: none;
  a:hover {text-decoration:underline;}
}

/* Blog CSS */

/* posts */

.postbox
{
  border-radius:2px;
  padding: 0 2% 2% 2%;
  margin:10px;
}

.content
{
  padding: 0px;
  margin-left: 0px; /*overwrite bootstrap .row{margin-left:-20px}*/
}

#post-wrapper
{
  margin:0;
  margin-top: 2%;
  padding:2% 0;
  min-width: 620px;
}

#post-wrapper-preview
{
  padding:2% 0;
  min-width: 620px;
}

div.post
{
  padding:2%;
  margin:2% 30px;
}

div.no-results
{
  @extend div.post;
  font-size:20px;
}

.post-date
{
  text-align:left;
  font-size:12px;
  color:black; 
  position: relative;
  right: 60px; 
  display: inline;
}

.post-head
{
  margin-bottom:7%;
  display:block;
}

.post-head img h3 p
{
  display:inline;
}

.post-tab
{
  padding:2%;
  height:60px;
  width:60px;
  float:left;
  position:relative;
  right:75px;
  border-radius: 50%;
}

/* doesn't seem right to have a .post-title and an a.post-title that are identical, but if I remove the "a." one, post titles turn blue on mouseover so... */

.post-title
{
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size:30px;
  color:#334;
  display:inline;
  position:relative;
  right:60px;
}

a.post-title
{
  @extend .post-title
}

a.post-title:hover
{
  text-decoration:none;
}

.post-date {
  margin-left:5%;
}

.post-date>a {
  font-weight:bold;
}

.post-date>a:hover {
  text-decoration:none;
  font-size:13px;
}

.post-date, .post-date>a {
  color:#373737;
}

div.post p {
  margin:0;
}

div.post p > img {
  max-width:99.5%;
  border:2px solid #87adb5;
  display:block;
  float:left;
  margin:10px 10px 10px 0;
}

hr.end-post-section
{
  margin:12px auto;
  height:0px;
  border:1px dotted #87adb5;
  width:50%;
  clear:both;
}

.post-tags
{
    line-height:210%;
    margin:0px;
    padding: 0px;
}

.tag
{
  color:#ffd;
  background-color:#87adb5;
  padding:3px;
  border-radius:2px;
  text-decoration:none;
}

.tag:hover
{
  color:#87adb5z;
  background-color:#ffd;
  text-decoration:none;
}

.comments {
  @extend .post;
}

.submit-btn
{
  @extend .btn;
  width:80%;
  margin-left:10%;
  font-size: 20px;
}


/* sidebar */

#sidebar
{
  margin-top: 2%;
  padding-top:30px;
  padding-bottom:30px;
  min-width: 300px;
}

div.sidebar
{
  padding:2%;
  padding-top:5%;
  margin:2% 30px;
}

input.input-btn {
  width:30%;
  height:29px;
  border-radius:3px;
  padding:0;
}

input.input-field{
  width:60%;
}

.sidebar form
{
  margin: 0;
}

#categories a
{
  font-size:16px;
}

#categories h3
{
margin-top:0;
}

hr.cat-divider {
  margin:12px auto;
  height:0px;
  border:1px dotted #87adb5;
  width:auto;
  
}

/* info pages */

.info-page
{
  margin-top:2%;
  padding: 2%;
  min-width: 1086px;
}

.info-header
{
  padding: 2%;
}

.info-body
{
  padding: 2%;
}

/*new image page*/
#new_image {
  padding: 2%;
}

/*gallery*/

#gallery {
  min-width:1124px;
}

#gallery-table {
  margin-left:auto;
  margin-right:auto;
}

/*map page*/

#map_canvas {
  border: solid grey 2px;
}

/* error styling */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


.field_with_errors {
  @extend .control-group;
  @extend .error;
}
