@import "bootstrap";
@import "pagedown_bootstrap"; /*this must come second to overwrite some of the icon things that bootstrap does */

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body
{
  margin:auto;
  padding:2%;
  background-color:#ffd;
  background-image:image-url("Background_1.gif");
  background-attachment:fixed;
  background-size:100% 100%;
  background-position: left bottom;
}

#display
{ 
  padding: 0px;
  margin: 0 auto;
}

.bluebox {
  background-color:#87adb5;
  border-radius: 0px;
}

.tanbox {
  background-color:#ffd;
  border-radius: 4px;
}

.abstract {
  padding: 0px;
  margin: 0px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #dcdbbf;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

/* header */

header
{
  height:48px; /*matches the height of the div it contains; added for layout reasons, but might break if we edit the header */
}

#header
{
  align:right;
  margin: 0 auto;
  text-align: center;
}


.navbar .nav > li > a
{
  font-size:20px;
  color:white;
  text-shadow: none;
  a:hover {text-decoration:underline;}
}

/* Blog CSS */

/* posts */

.postbox
{
  border-radius:2px;
  padding: 0 2% 2% 2%;
  margin:10px;
}

.content
{
  padding: 0px;
  padding-top: 2%;
  margin-left: 0px; /*overwrite bootstrap .row{margin-left:-20px}*/
}

#post-wrapper
{
  margin:0;
  padding:2% 0;
}

div.post
{
  padding:2%;
  margin:2% 30px;
}

.post-date
{
  text-align:left;
  font-size:12px;
  color:black; 
  position: relative;
  right: 60px; 
  display: inline;
}

.post-head
{
  margin-bottom:7%;
  display:block;
}

.post-head img h3 p
{
  display:inline;
}

.post-image
{
  padding:2%;
  height:60px;
  width:60px;
  float:left;
  position:relative;
  right:75px;
  border-radius: 50%;
}

/* doesn't seem right to have a .post-title and an a.post-title that are identical, but if I remove the "a." one, post titles turn blue on mouseover so... */

.post-title
{
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size:30px;
  color:#334;
  display:inline;
  position:relative;
  right:60px;
}

a.post-title
{
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size:30px;
  color:#334;
  display:inline;
  position:relative;
  right:60px;
}

a.post-title:hover
{
 text-decoration:none;
}

hr.end-post-section
{
  margin:12px auto;
  height:0px;
  border:1px dotted #87adb5;
  width:50%;
}

.tag
{
  background-color:orange;
  padding:2px;
  border-radius:2px;
}

.post-edit-label
{
  float:left; 
  padding-right:20px; 
  padding-top:5px;
  color: white;
}

/* sidebar */

#sidebar
{
  padding-top:30px;
  padding-bottom:30px;
}

div.sidebar
{
  padding:2%;
  margin:2%;
  margin-left:30px;
  margin-right:30px;
}

/* info pages */

.info-page
{
  padding: 2%;
}

.info-header
{
  padding: 2%;
}

.info-body
{
  padding: 2%;
}

/* error styling */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
