@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body
{
  margin:auto;
  padding:2%;
  background-color:#ffd;
  background-image:image-url("Background_1.gif");
  background-attachment:fixed;
  background-size:100% 100%;
  background-position: left bottom;
}

#display
{
  padding:0px;
  margin: 0 auto;
}

.bluebox {
  background-color:#87adb5;
  border-radius: 0px;
}

.tanbox {
  background-color:#ffd;
  border-radius: 4px;
}

.abstract {
  padding: 0px;
  margin: 0px;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #dcdbbf;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

/* header */

header
{
  height:40px; /*matches the height of the div it contains; added for layout reasons, but might break if we edit the header */
}

#header
{
  align:right;
  margin: 0 auto;
  text-align: center;
}


.navbar .nav > li > a
{
  font-size:20px;
  color:white;
  text-shadow: none;
  a:hover {text-decoration:underline;}
}



/* Blog CSS */

.postbox
{
  border-radius:2px;
  padding-left:2%;
  padding-bottom:2%;
  padding-right:2%;
  margin:10px;
}

.content
{
  padding: 0px;
  padding-top: 2%;
  margin-left: 0px; /*overwrite bootstrap .row{margin-left:-20px}*/
}

#post-wrapper
{
  margin:0px;
  padding:2%;
  padding-left:0px;
  padding-right:0px;
}

div.post
{
  padding:2%;
  margin:2%;
  margin-left:30px;
  margin-right:30px;
}

.post-head img h3 p
{
  display:inline;
}

.post-head h3
{
  position:relative;
  right:25px;
}

.post-image
{
 height:60px;
 width:60px;
 float:left;
 position:relative;
 right:75px;
 border-radius: 50%;
}

hr.end-post-section
{
  margin: 2% auto;
  height:0px;
  border:1px dotted #87adb5;
  width:50%;
}

.tag
{
  background-color:orange;
  padding:2px;
  border-radius:2px;
}

#sidebar
{
  margin-right:0px;
  padding-top:30px;
  padding-bottom:30px;
}

div.sidebar
{
  padding:2%;
  margin:2%;
  margin-left:30px;
  margin-right:30px;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
