// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Note that while it looks like these could be IDs, they can't. They have to be classes for javascript reasons.

.subscribed{
    position: fixed;
    right: 50px;
    bottom: 0px;
    z-index: 10;
    display: none; 
    width: 175px;
    text-align: center;
    padding:15px;
    padding-bottom:50px;
}


.subscribed-inner{
	display: table;
    margin: 5 auto;
}


a.boxclose {background-image: url(/assets/fancybox_sprite.png);
    float:right;
    margin-top:-25px;
    margin-right:-20px;
    display: inline-block;
    line-height: 0px;
    z-index: 11;  
cursor: pointer;
display: block;
height: 36px;
width: 36px;
}