// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Note that while it looks like these could be IDs, they can't. They have to be classes for javascript reasons.

.subscribed{
    position: fixed;
    right: 50px;
    bottom: 0px;
    z-index: 10;
    display: none; 
    width: 175px;
    text-align: center;
    padding:15px;
    padding-bottom:50px;
}

.subscribed-inner{
	display: table;
    margin: 5 auto;
}

a.boxclose{
    text-decoration:none;
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    color: #DDDDDD;
    border-radius: 30px;
    background: #DDDDDD;
    font-size: 31px;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    z-index: 11;       
}
.boxclose:before {
    content: "×";
    color: #000;
}