<footer class="footer">
  <nav>
    <ul>
      Powered by:
      <%= link_to image_tag("rails.png", :size => "31x40", :alt => "Ruby on Rails"), 'http://rubyonrails.org/' %>
      <%= link_to image_tag("github_logo.png", :size => "40x40", :alt => "Github"), 'https://github.com/Mindful/blog' %>
    </ul>
  </nav>
</footer>