<footer>
  <div class="bluebox footer">
      Powered by  
   
      <%= link_to image_tag("rails.png", :size => "31x40", :alt => "Ruby on Rails"), 'http://rubyonrails.org/' %>
      <span style="float:right;font-size:14px;width:170px"><a href="https:github.com/Mindful/blog" style="color:white;">Work by: Josh Tanner & Colin Robinson, 2013</a></span>
  </div>
</footer>
