<footer>
  <div class="bluebox footer">
      Powered by:
   
      <%= link_to image_tag("rails.png", :size => "31x40", :alt => "Ruby on Rails"), 'http://rubyonrails.org/' %>
      <%= link_to image_tag("github_logo.png", :size => "40x40", :alt => "Github"), 'https://github.com/Mindful/blog' %>
   <!-- <span style="float:right">&copy;Josh Tanner & Colin Robinson 2013</span> -->
  </div>
</footer>
