   <div class="post">
    <div class="post-head">
        <div style = "background-color:#87adb5; height:60px; width:60px; float:left; position:relative; right:75px; border-radius: 50%;">
            <%= image_tag("shimane_flag_josh_edit.gif", :size => "100%;") %>
        </div>
     <h3 style="display:inline; position: relative; right:60px;">Misery Loves Company</h3>
     <p style="text-align:left;font-size:12px;color:black; position: relative; right: 60px;">06.09.2013</p>
     <hr/>
    </div>
    <div class="post-body" style="text-align:left;">
     <p>Resting his head against the backboard of the hotel bed, Kiyoshi stared at the door to the room. With the comforter bundled up by his feet, leaving only the top sheet to cover him, he controlled his breathing, inhaling and exhaling incredibly slowly. Something within him was bursting, but he firmly held it in check, unwilling to let anything reach the surface.</p>

     <p>How was he supposed to feel about this? These emotions were unfamiliar to him. A century of pain was enough to rob anyone of heartfelt pleasure—even the very memory of it. And now, someone extremely close to him, closer than he had been to nearly anyone, someone whom he feared he might reject with these emotions was evoking them.</p>

     <p>There was no doubt in his heart, mind or soul that what he was experiencing was love, and yet he did not wish to recognize it. To do so might de-evolve him back into the monster he once was, and he would rather fall straight into hell than repeat that past. Love was only a derivative of lust, and lust is candy to the body, but ultimately torture to the soul, his soul.</p>

     <p>And yet, that did not make any sense to him. He did not lust after her. He had not lusted after anyone since his reformation, within his conscious control, and somehow he knew that what he felt for his charge, his new sister, Kimiko was not lust.</p>

     <p>What was it then: a love a father might have for a daughter, a brother for a sister? Or was it something more? Kiyoshi simply did not have the experience to discern the answer to his grave problem. Questioning it only brought him more confusion, so he would need to sort through his feelings, and hopefully shed some light on the situation.</p>
     <hr/>
    </div>
    <div class="post-tags">
     <a href="#" class="tag">Ranma</a>
     <a href="#" class="tag">AU</a>
     <a href="#" class="tag">sadfic</a>
    </div>
   </div>

    <div class="post">
    <div class="post-head">
        <div style = "background-color:#87adb5; height:60px; width:60px; float:left; position:relative; right:75px; border-radius: 50%;">
            <%= image_tag("shimane_flag_josh_edit.gif", :size => "100%;") %>
        </div>
     <h3 style="display:inline; position: relative; right:60px;">Misery Loves Company</h3>
     <p style="text-align:left;font-size:12px;color:black; position: relative; right: 60px;">06.09.2013</p>
     <hr/>
    </div>
    <div class="post-body" style="text-align:left;">
     <p>Resting his head against the backboard of the hotel bed, Kiyoshi stared at the door to the room. With the comforter bundled up by his feet, leaving only the top sheet to cover him, he controlled his breathing, inhaling and exhaling incredibly slowly. Something within him was bursting, but he firmly held it in check, unwilling to let anything reach the surface.</p>

     <p>How was he supposed to feel about this? These emotions were unfamiliar to him. A century of pain was enough to rob anyone of heartfelt pleasure—even the very memory of it. And now, someone extremely close to him, closer than he had been to nearly anyone, someone whom he feared he might reject with these emotions was evoking them.</p>

     <p>There was no doubt in his heart, mind or soul that what he was experiencing was love, and yet he did not wish to recognize it. To do so might de-evolve him back into the monster he once was, and he would rather fall straight into hell than repeat that past. Love was only a derivative of lust, and lust is candy to the body, but ultimately torture to the soul, his soul.</p>

     <p>And yet, that did not make any sense to him. He did not lust after her. He had not lusted after anyone since his reformation, within his conscious control, and somehow he knew that what he felt for his charge, his new sister, Kimiko was not lust.</p>

     <p>What was it then: a love a father might have for a daughter, a brother for a sister? Or was it something more? Kiyoshi simply did not have the experience to discern the answer to his grave problem. Questioning it only brought him more confusion, so he would need to sort through his feelings, and hopefully shed some light on the situation.</p>
     <hr/>
    </div>
    <div class="post-tags">
     <a href="#" class="tag">Ranma</a>
     <a href="#" class="tag">AU</a>
     <a href="#" class="tag">sadfic</a>
    </div>
   </div>